@font-face {
    font-family: 'InstrumentSans';
    src: url(../font/InstrumentSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.highfun{
    width: 100%;
    display: flex;
    justify-content: center;
}
.highfun_blokc{
    width: 90%;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.highfun_blokc img{
    width: 146px;
    height: fit-content;
}
.highfun_cont{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.highfun_cont ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.highfun_cont a{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}
.highfun_cont li{
    color: #FFFFFF;
    margin-right: 70px;
}
.join{
    width: 100%;
    display: flex;
    justify-content: center;
}
.join .align-center{
    justify-content: center;
    align-items: center;
}

.join_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.join_blokc h1{
    background-image: linear-gradient(to right, #C24800, #FFAB7A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    font-family: 'Inter';
    font-size: 180px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
}
.join_cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 110px;
    margin-top: -90px;
}
.join_cont h2{
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 116px;
}
.join_cont p{
    font-family: 'InstrumentSans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 150%;
    margin-top: 0;
}
.mob_1{
    display: none;
}
.play{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.play_blokc{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play_blokc img{
    width: 510px;
    height: fit-content;
}
.play_blokc a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 85px;
    background: #000000;
    border: 1px solid #C24800;
    font-family: 'InstrumentSans';
    font-size: 24px;
    font-weight: 500;
    color: #C24800;
    text-decoration: none;
    box-shadow: 0px 0px 20px 0px #C24800;
    margin-left: 50px;
    cursor: pointer;
}
.now{
    display: flex;
    justify-content: center;
    width: 100%;
}
.now_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.now_blokc h1{
    background-image: linear-gradient(to right, #C24800, #FFAB7A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    font-family: 'Inter';
    font-size: 160px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.now_blokc hr{
    border: 1px solid #FFFFFF;
    width: 100%;
}
.now_blokc p{
    font-family: 'InstrumentSans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 150%;
    width: 55%;
}
.now_cont{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.now_cont h5{
    width: 60%;
    font-family: 'InstrumentSans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 150%;
    text-align: center;
    border: 1px solid #C24800;
    border-radius: 50px;
    padding: 4%;
}
.now_text{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.now_text p{
    font-family: 'InstrumentSans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 150%;
    width: 75%;
}
.now_text h2{
    background-image: linear-gradient(to right, #C24800, #FFAB7A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    font-family: 'Inter';
    font-size: 160px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.end{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.end_blokc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.end_blokc ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.end_blokc li{
    color: #FFFFFF;
    margin-right: 100px;
}
.end_blokc a{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}
.end_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.end_cont h5{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    color: #C24800;
}
.end_cont p{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color: #C24800;
    text-decoration: underline;
    text-transform: capitalize;
    margin-left: 15px;
}





.privacy{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mini_privacy{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.mini_privacy p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter';
    color: white;
}
.mini_privacy h1{
    font-family: 'Inter';
    color: white;
}
.mini_privacy h2{
    font-family: 'Inter';
    font-size: 26px;
    color: white;
}
.mini_privacy h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Inter';
}
.mini_privacy ul li{
    font-size: 18px;
    font-family: 'Inter';
    color: white;
    line-height: 150%;
}

.menu_abs{
    width: 285px;
    height: 299px;
    border: 2px solid #C24800;
    border-radius: 40px;
    background-color: #000000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 80px;
}
.menu_abs a{
    text-decoration: none;
    width: 190px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 3px;
}
.full p{
    width: 100%;
    margin-top: 60px;
}

.pop_iframe{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF66;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 860px;
    height: 570px;
    border-radius: 20px;
 }
 
 #frame1{
     display: none;
 }

@media screen and (max-width: 900px){
    .highfun_blokc img{
        width: 76px;
    }
    .highfun_cont ul{
        display: none;
    }
    .highfun_cont li{
        display: none;
    }
    .highfun_blokc .mob_1{
        display: flex;
        width: 60px;
        height: fit-content;
    }
    .join_blokc h1{
        font-size: 48px;
    }
    .join_cont h2{
        font-size: 32px;
        line-height: 38px;
    }
    .join_cont p{
        font-size: 12px;
    }
    .join_cont{
        margin-left: 25px;
        margin-top: -30px;
        width: 90%;
    }
    .highfun_blokc{
        justify-content: space-between;
    }
    .play_blokc{
        flex-direction: column;
    }
    .play_blokc img{
        width: 385px;
    }
    .play_blokc a{
        width: 150px;
        height: 150px;
        margin-top: 30px;
        margin-left: 0;
        margin-bottom: 80px;
    }
    .now_blokc h1{
        font-size: 48px;
    }
    .now_blokc p{
        width: 90%;
        margin-left: 30px;
    }
    .now_cont{
        justify-content: center;
    }
    .now_cont h5{
        padding: 12%;
    }
    .now_text{
        flex-direction: column-reverse;
        align-items: start;
    }
    .end_blokc ul{
        flex-wrap: wrap;
    }
    .end_blokc a{
        font-size: 14px;
    }
    .end_blokc li{
        margin-right: 45px;
        margin-bottom: 15px;
    }
    

}